/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.round-image {
    width:80px;
    height: 80px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.reassort-icon {
    position: relative;
    display: inline-block;
}

.reassort-icon svg {
    width: 32px;
    height: 32px;
    color: var(--primary-color);
}

.reassort-icon span {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #e74c3c;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.actions {
    margin-bottom: 20px;
    text-align: right;
}

.pr-button {
    background-color: var(--primary-color) !important;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.pr-button:hover {
    background-color: var(--violet) !important;
}

.pr-button:disabled {
    background-color: #bdc3c7 !important;
    cursor: not-allowed;
    border: none;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.in-reassort {
    color: #27ae60;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    th, td {
        padding: 8px;
    }
}
